body {
	background-image: linear-gradient(45deg, #21D4FF 0%, #B721DF 100%);
	background-repeat: no-repeat;
	font: 400 16px/1.5em "Open Sans", sans-serif;  
    height: 100vh
}

.tabbed {
	overflow-x: hidden;
    background: white;

}
.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}
.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
    margin: 0;
	border-bottom: 1px solid #ccc;
}
.tab>label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid #ccc;
	background: #eee;
	color: #666;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s;
}
.tab:hover label {
	border-top-color: #333;
	color: #333;
}
.tab-content {
	display: none;
	color: #777;
    padding: 30px;
    font-weight: 700;
}

.tabbed [type="radio"]:nth-of-type(1):checked~.tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked~.tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked~.tabs .tab:nth-of-type(3) label {
	border-bottom-color: #fff;
	border-top-color: #B721FF;
	background: #fff;
	color: #000;
}


.tabbed [type="radio"]:nth-of-type(1):checked~.tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked~.tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked~.tab-content:nth-of-type(3) {
	display: block;
}