* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: bottom;
}

.container {
    position: relative;
    width: 320px;
    height: 480px;
}

.container div {
    position: absolute;
}

.collapse_panel {
    height: 60px;
    cursor: pointer;
}

.expand_panel {
    height: 480px;
    transform: translate3d(0px, -480px, 0px);
    transition: all 1s;
}

.close_btn {
    top: 5px;
    left: 5px;
    opacity: 0;
    cursor: pointer;
    transform: translateX(-50px);
    transition: opacity 1s;
}